out/
logs/
__pycache__/
dataset/
vis
dataset
Deform4D
geodata/
doozy*
old_logs/
old_out/
metric_logs/
viscanonical/
visdepth/
*.pt
*.mp4
*.avi
tracking/
out_vismetric/
visdavis/
viscntmap/
final_out/
eval_out/
vis_anydep/
vis_out*/
outlier/
.vscode/*